@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: rgb(20, 22, 37);
  --primary: rgb(124, 93, 250);
  --primary_text: rgb(255, 255, 255);
  --secondary_text: rgb(223, 227, 250);
  --secondary_background: rgb(30, 33, 57);
}
body {
  background-color: var(--body);
  color: var(--primary_text);
}
